/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.pt-serif {
  font-family: 'PT Serif', serif;
  font-display: swap;
}
/* .barlow {
  font-family: "Barlow", sans-serif;
} */
.no-max-w {
  max-width: inherit;
}
.text-xss {
  font-size: 11px;
}
.clamped-two {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.transparent-background {
  background-color: #000000a6;
}
@responsive {
  .threeLines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 1.43; /* fallback */
    max-height: 60.06px; /* fallback */
  }

  .oneLine {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-height: 1.43; /* fallback */
    max-height: 20.02px; /* fallback */
  }

  .max200 {
    max-width: 200px;
  }
}